<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
   
    <form>
      <div class="form-group">
        <label for="inputEmail">Email address</label>    
        <input class="form-control" id="inputEmail" type="email" placeholder="Enter email" value="{{email::input}}" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
          <label for="inputPassword">Password</label>
          <input class="form-control" id="inputPassword" type="password" placeholder="Enter password" value="{{password::input}}">
          <small id="passwordHelp" class="form-text text-muted">Please, type your password</small>
      </div>

      <button class="btn" type="button" on-click="login">Submit</button>
    </form>

    <span hidden$="{{!isLogged}}">Bienvenido de nuevo</span>

    <iron-ajax 
      id="doLogin" 
      url="http://localhost:3000/apitechu/v2/login" 
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
      debounce-duration="300"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          },
          email: {
            type: String
          },
          isLogged: {
            value: false,
            type: Boolean
          }
        };
      }

      login() {
        console.log("Login method");
        
        const loginData = {
          email: this.email,
          password: this.password
        }

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);
        
        window.location = 'user/' + data.detail.response.idUsuario;
        this.isLogged = true;
      }

      showError(e) {
        console.log("Llegaron los ERRORES de la API");        
        const req = e.detail.request;
        console.log(req.status);
        console.log(req.statusText);

        this.isLogged = false;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>