<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous" />

    <h3>Soy el receptor</h3>
    <h3>Estoy en [[course]]</h3>
    <h3>y año [[year]]</h3>
    <input type='text' value='{{course::input}}' />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course: {
            type: String,
            observer: '_courseChanged'
          }, year: {
            type: String
          }
        }
      }

      _courseChanged(newValue, oldValue) {
        console.log("El valor de course ha cambiado: " + oldValue + " / " + newValue);        
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>