<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <h2>Accounts for user with id: [[id]]</h2>
    <div class="list-group">
      <template is="dom-repeat" items="{{accounts}}">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">{{item.IBAN}}</h4>
          <p class="list-group-item-text">Balance: {{item.balance}}</p>
        </div>
      </template>

    </div>

    <iron-ajax auto id="getUser" url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts" handle-as="json"
      on-response="readAccounts">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          accounts: {
            type: { type: Array, value: [] }
          }
        };
      }

      readAccounts(data) {
        console.log('showData');
        console.log(data.detail.response);

        this.accounts = data.detail.response;

        // this.first_name = data.detail.response[0].first_name;
        // this.last_name = data.detail.response[0].last_name;
        // this.email = data.detail.response[0].email;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>